<mat-form-field fxFill *ngIf="form.disabled" [formGroup]="form">
  <mat-label>{{field.label}}</mat-label>
  <mat-chip-list #chipList [formArrayName]="field.key" disabled>
    <mat-chip *ngFor="let item of controls.value">
      {{field.displayFn(item)}}
    </mat-chip>
  </mat-chip-list>
  <span matPrefix>{{field.prefix | translate}}&nbsp;</span>
</mat-form-field>


<mat-form-field fxFill *ngIf="!form.disabled" [formGroup]="form">
  <mat-label>{{field.label | translate}}</mat-label>

  <mat-chip-list #chipList [formArrayName]="field.key">
    <mat-chip *ngFor="let item of controls.value; let i = index" (removed)="removeAt(i)">
      {{field.displayFn(item)}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input #queryInput [placeholder]="'search'|translate" [formControl]="inputControl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList" [required]="field.required" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" (blur)="reset()">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="field.displayFn" (optionSelected)="selected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{field.displayFn(option)}}
    </mat-option>
  </mat-autocomplete>


  <span matPrefix>{{field.prefix}}&nbsp;</span>
  <button mat-icon-button matSuffix (click)="clear()">
    <mat-icon>clear</mat-icon>
  </button>

  <mat-hint align="end"> {{ field.hint | translate}} </mat-hint>
  <mat-error *ngIf="!isValid">{{ 'fieldRequired' | translate: {field: field.label | translate } }}</mat-error>
</mat-form-field>
