<h1>{{path | uppercase | translate}}</h1>

<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedIndex" (selectedTabChange)="onChange($event)">
  <mat-tab *ngFor="let item of list" [label]="item | translate"> </mat-tab>
</mat-tab-group>

<app-collection [docs$]="docs$">
  <ng-template let-items>
    <div fxLayout="column" fxLayoutGap="1em">
      <div *ngFor="let item of items ">
        <app-appointment-card [data]="item"></app-appointment-card>
      </div>
    </div>
  </ng-template>
</app-collection>
