<div fxLayout='column' fxLayoutGap="1em" class="root">
  <mat-label>{{field.label | translate}}</mat-label>

  <button mat-raised-button color="primary" (click)=" fileInput.click()">
    <mat-icon> cloud_upload
    </mat-icon>

    {{'upload' | translate}}

    <span *ngIf="field.multiple">({{ 'multiple' | translate}})</span>

  </button>
  <input hidden (change)="handleFileInput($event)" #fileInput type="file" id="file" [multiple]="field.multiple"
    [accept]="field.accept">
  <mat-hint align="end"> {{ field.hint | translate}} </mat-hint>

  <mat-error *ngIf="!isValid">{{ 'fieldRequired' | translate: {field: field.label | translate } }}</mat-error>


  <div fxFill fxLayout="row wrap" [sortablejs]="controls.value" [sortablejsOptions]="options">

    <div *ngFor="let item of controls.value; let i = index" fxLayout="column" fxLayoutAlign="space-around center" fxFill
      class="item">
      <img *ngIf="field.accept.startsWith('image'); else file"
        [ngClass]="field.multiple && i === 0 ? 'primary': 'border'" [src]="item.url" [alt]="item.name" />

      <ng-template #file>
        <h3>{{item.name}}</h3>
      </ng-template>

      <button mat-icon-button (click)="removeAt(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>
</div>
