.root {
  background-color: #fbfcfd;
  padding: 5% 10%;
  height: 100%;
}

.borderBottom {
  border-bottom: 1px solid lightgray;
}

.borderRight {
  border-right: 1px solid lightgray;
  padding-right: 16px;
}
