<ng-container *ngIf="hasChild; else noChild">
  <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1em">
    <div fxFlex="15%">
      <h2>{{field.label}}</h2>
    </div>

    <div fxFlex="1 1 auto">
      <div fxHide.lt-md>
        <div *ngFor="let group of array.controls; let i = index" fxLayout="row" fxLayoutAlign="center center"
          class="content">
          <div fxFlex="1 1 auto" fxLayout.sm="column" fxLayout.gt-sm="row wrap">
            <app-field *ngFor="let f of field.children" [fxFlex.xs]="field.width.xs" [fxFlex.gt-xs]="field.width.sm"
              fxFill [field]="f" [form]="group"></app-field>
          </div>

          <button [disabled]="form.disabled" mat-icon-button (click)="removeAt(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div fxFlex="10%" fxLayoutAlign="end">
      <button [disabled]="array.disabled" mat-icon-button (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div fxHide.gt-sm fxFill>
    <div *ngFor="let group of array.controls; let i = index" fxLayout="row" fxLayoutAlign="center center"
      class="content">
      <div fxFlex="1 1 auto" fxLayout.xs="column" fxLayout.gt-xs="row wrap">
        <app-field *ngFor="let f of field.children" [fxFlex.xs]="field.width.xs" [fxFlex.gt-xs]="field.width.sm" fxFill
          [field]="f" [form]="group"></app-field>
      </div>

      <button [disabled]="form.disabled" mat-icon-button (click)="removeAt(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #noChild>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
    <div fxFlex="15%">
      <h2>{{field.label}}</h2>
    </div>
    <div fxFlex="1 1 auto" fxLayoutAlign="end">
      <div class="warn">
        {{'disabled' | translate}}
      </div>
    </div>
    <div fxFlex="10%" fxLayoutAlign="end">
      <button [disabled]="array.disabled" mat-icon-button (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
