<div fxFill>
  <div>
    <h2>{{field.label | translate}}</h2>
    <div fxFlex="1 1 auto"></div>
    <button [disabled]="form.disabled" mat-icon-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <div>

    <div *ngFor="let f of field.value" fxLayout="column" class="content">
      <app-field fxFlex="1 1 auto" [field]="f" [form]="control">
      </app-field>
      <button [disabled]="form.disabled" mat-button (click)="remove(f.key)">
        <mat-icon>delete</mat-icon> {{'remove' | translate}}
      </button>
    </div>

  </div>
</div>
