<div fxLayout="column" fxLayoutGap="1em">
  <mat-list *ngIf="event">
    <h2>
      {{event.displayName }}
    </h2>

    <mat-list-item>
      <mat-icon mat-list-icon>watch_later</mat-icon>
      <div>{{event.duration}} {{'minutes' | translate}}</div>
    </mat-list-item>

    <mat-list-item *ngIf="timeZone && date">
      <mat-icon mat-list-icon>event_available</mat-icon>
      <div>{{getDate(date, timeZone)}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="timeZone">
      <mat-icon mat-list-icon>public</mat-icon>
      <div>{{timeZone}}</div>
    </mat-list-item>
  </mat-list>

  <mat-list *ngIf="oldData" class="old">
    <mat-list-item>
      <mat-icon mat-list-icon>event_available</mat-icon>
      <div>{{getDate(oldData, oldData.timeZone)}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>public</mat-icon>
      <div>{{oldData.timeZone}}</div>
    </mat-list-item>
  </mat-list>
</div>
