<ng-container *ngIf="!empty; else noList">

</ng-container>
<mat-list fxLayout="column" fxLayoutGap="1em">
  <mat-list-item *ngFor="let item of list">
    <ng-container *ngIf="!compare(value, item); else selected">
      <button fxFill mat-stroked-button color="primary" (click)="onClick(item)">{{getTime(item.begin)}}</button>
    </ng-container>

    <ng-template #selected>
      <div fxFill fxLayout="row" fxLayoutGap="1em">
        <button fxFlex="auto" mat-flat-button disabled>{{getTime(item.begin)}}</button>
        <button fxFlex="auto" mat-flat-button color="primary" (click)="onSubmit()">{{'confirm' | translate}}</button>
      </div>
    </ng-template>

  </mat-list-item>
</mat-list>

<ng-template #noList>
  <div fxLayoutAlign="center">
    <h2>{{'appointmentFull' | translate}}</h2>
  </div>
</ng-template>
